#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.AuthPages > form {
  display: flex;
  flex-direction: column;
}


.mainSquare {
  border: 1px solid blue;
  padding: 1vh;
  background-color: darkgrey;

  min-width: 400px;
}